server:
  port: 8090

spring:
  application:
    name: cex-gateway-service

  profiles:
    active: dev

  config:
    import: optional:nacos:${nacos.server}:8848?namespace=public&group=DEFAULT_GROUP&extension=yaml

  cloud:
    nacos:
      config:
        server-addr: ${nacos.server}:8848
        namespace: public
        group: DEFAULT_GROUP
        username: ${nacos.username}
        password: ${nacos.password}
        refresh-enabled: true
      discovery:
        server-addr: ${nacos.server}:8848
        namespace: public
        group: DEFAULT_GROUP
        username: ${nacos.username}
        password: ${nacos.password}

    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: test-service-router
          uri: https://www.aliyun.com
          predicates:
            - Path=/product
        - id: cex-admin-service
          uri: lb://cex-admin-service
          predicates:
            - Path=/admin/**
            - Path=/example/**

    sentinel:
      transport:
        dashboard: ${sentinel-dashboard.server}:8858
      datasource:
        ds1.nacos:
          server-addr: ${nacos.server}:8848
          namespace: public
          group-id: SENTINEL_GROUP
          data-id: gateway-flow-rules
          rule-type: gw_flow
          username: ${nacos.username}
          password: ${nacos.password}
        ds2.nacos:
          server-addr: ${nacos.server}:8848
          namespace: public
          group-id: SENTINEL_GROUP
          data-id: gateway-api-group-rules
          rule-type: gw-api-group
          username: ${nacos.username}
          password: ${nacos.password}
#      datasource:
#        ds1.file:
#          file: classpath:sentinel/gateway-flow-rules.json
#          data-type: json
#          rule-type: gw_flow
#        ds2.file:
#          file: classpath:sentinel/api-group-rules.json
#          data-type: json
#          rule-type: gw-api-group
# ============================================================
#
logging:
  level:
    root: INFO
    com.cex: DEBUG