spring:
  application:
    name: cex-matching-engine
  kafka:
    bootstrap-servers: 127.0.0.1:9092
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: cex-matching-engine
  redis:
    host: 127.0.0.1
    port: 6379
    database: 1
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
      username: nacos
      password: nacos
      discovery:
        namespace: public
        group: DEFAULT_GROUP
      config:
        namespace: public
        group: DEFAULT_GROUP
        file-extension: yaml

server:
  port: 9004

logging:
  level:
    root: INFO
    com.cexpay: DEBUG
