spring:
  application:
    name: cex-user-service
  datasource:
    url: jdbc:postgresql://43.138.23.51:5432/cex_platform
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
      username: nacos
      password: nacos
      discovery:
        namespace: public
        group: DEFAULT_GROUP
      config:
        namespace: public
        group: DEFAULT_GROUP
        file-extension: yaml

server:
  port: 9001
  servlet:
    context-path: /

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: assign_id
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0

jwt:
  secret: your-secret-key-must-be-at-least-32-characters-long-here
  expiration: 86400000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    use-root-path: true
  api-docs:
    path: /v3/api-docs

logging:
  level:
    root: INFO
    com.cexpay: DEBUG
    org.springframework.cloud: DEBUG
